/dts-v1/;
/plugin/;
/ {
  fragment@0 {
    target-path = "/";
    __overlay__ {
      sw-spi {
        /* properties for kernel 5.10 */
        /* - generic: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/Documentation/devicetree/bindings/spi/spi-controller.yaml?h=v5.10.194 */
        /* - spi-gpio: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/Documentation/devicetree/bindings/spi/spi-gpio.yaml?h=v5.10.194 */
        compatible = "spi-gpio";
        #address-cells = <0x1>;
        #size-cells = <0x0>;
        sck-gpios = <&gpio 13 0>;
        mosi-gpios = <&gpio 45 0>;
        miso-gpios = <&gpio 46 0>;
        cs-gpios = <&gpio 12 0>, <&gpio 4 0>;
        num-chipselects = <2>;

        /* probably obsolete, belong to individual clients */
        spi-max-frequency = <100000>;
        spi-cs-high;

        /* clients */
        spidev@0 {
          compatible = "linux,spidev";
          reg = <0>;
          spi-max-frequency = <10000000>;
          spi-cs-high;
        };
        spidev@1 {
          compatible = "linux,spidev";
          reg = <1>;
          spi-max-frequency = <10000000>;
          spi-cs-high;
        };

      };

    };
  };
};
